<footer class="Footer">

  <h2 class="Hidden">Information about {{ site.title }}</h2>

  {% if site.footer %}
    {% for column in site.footer %}
      <div class="Footer__Column">
        {% if column.title %}
          <h3>{{ column.title }}</h3>
        {% endif %}
        {% if column.text %}
          {{ column.text | markdownify }}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}

  <div class="Footer__Column Footer__Column--Copy">
    <small>&copy; 2014 – {{ site.time | date:"%Y" }} {{ site.title }}. All rights reserved.</small>
  </div>
</footer>

<script src="{{ "/dist/js/all.js" | prepend:site.baseurl }}"></script>
