<footer class="footer">

  {% if site.footer %}
    {% for column in site.footer %}
      <div class="footer-column">
        {% if column.title %}
          <h2>{{ column.title }}</h2>
        {% endif %}
        {% if column.text %}
          {{ column.text | markdownify }}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}

  <div class="footer-copy">
    <small>&copy; 2014 – {{ site.time | date:"%Y" }} {{ site.title }}. All rights reserved.</small>
  </div>
</footer>

<script src="{{ "/dist/js/all.js" | relative_url }}"></script>
