<header role="banner" class="Header">

  <h1 class="Header__Title">
    <a href="{{ "/" | prepend:site.baseurl }}">
      <span class="Hidden">{{ site.title }}</span>
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
      </svg>
    </a>
  </h1>

  <div class="Header__Buttons">
    <button class="Header__Button Header__Button--Open">
      <span class="Hidden">Open navigation</span>
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#nav"></use>
      </svg>
    </button>
    <button class="Header__Button Header__Button--Close">
      <span class="Hidden">Close navigation</span>
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#nav-close"></use>
      </svg>
    </button>
  </div>

  <nav role="navigation" class="Header__Nav">
    <h1 class="Hidden">Navigation</h1>

    {% assign navs = site.pages | sort: 'position' %}

    <ul class="Header__Nav__Items">

      {% if page.url == '/' %}
        
        <li class="Header__Nav__Item">
          <a href="#work">{{ page.title }}</a>
        </li>
        
        {% for nav in navs %}
          {% if nav.title %}
            {% if nav.url != '/' %}
              <li class="Header__Nav__Item">
                <a href="{{ nav.url | relative_url }}">{{ nav.title | escape }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}

      {% else %}
        
        {% for nav in navs %}
          {% if nav.title %}
            <li class="Header__Nav__Item">
              <a href="{{ nav.url | relative_url }}">{{ nav.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}

      {% endif %}

    </ul>
  </nav>

</header>
