<header class="" role="banner">
  <h1>
    <a href="{{ "/" | prepend:baseurl }}">{{ site.title }}</a>
  </h1>
  
  <nav role="navigation">
    <h1>Navigation</h1>

    {% assign navs = site.pages | sort: 'position' %}

    {% if page.url == '/' %}
      
      <a href="#work">{{ page.title }}</a>
      
      {% for nav in navs %}
        {% if nav.title %}
          {% if nav.url != '/' %}
            <a href="{{ nav.url | relative_url }}">{{ nav.title | escape }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    {% else %}
      
      {% for nav in navs %}
        {% if nav.title %}
          <a href="{{ nav.url | relative_url }}">{{ nav.title | escape }}</a>
        {% endif %}
      {% endfor %}

    {% endif %}
  </nav>
</header>
