<header role="banner" class="Header">
  <h1 class="Header__Title">
    <a href="{{ "/" | prepend:baseurl }}">
      <span class="Hidden">{{ site.title }}</span>
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
      </svg>
    </a>
  </h1>
  
  <nav role="navigation" class="Header__Nav">
    <h1 class="Hidden">Navigation</h1>

    {% assign navs = site.pages | sort: 'position' %}

    <ul class="Header__Nav__Items">

      <li class="Header__Nav__Item">
        {% if page.url == '/' %}
          <a href="#work">Work</a>
        {% else %}
          <a href="/#work">Work</a>
        {% endif %}
      </li>
      
      {% for nav in navs %}
        {% if nav.title %}
          {% if nav.url != '/' %}
            <li class="Header__Nav__Item">
              <a href="{{ nav.url | relative_url }}">{{ nav.title | escape }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    
    <button class="Header__Nav__Button"></button>
  </nav>
</header>
