<article class="post{% if page.path contains "_posts" %} post--half{% else %}{% if include.handle.size == "small" %} post--small{% elsif include.handle.size == "medium" %} post--medium{% elsif include.handle.size == "half" %} post--half{% elsif include.handle.size == "large" %} post--large{% elsif include.handle.size == "huge" %} post--huge{% endif %}{% endif %}{% if include.handle.thumbnail_video_file and include.handle.thumbnail_image_file %} post--video{% elsif include.handle.thumbnail_image_file %} post--image{% endif %}">
  <a href="{{ include.handle.url | relative_url }}">
    <div class="content">
      <h2>{{ include.handle.title | escape }}</h2>
      {% if include.handle.payoff %}
        <p>{{ include.handle.payoff }}</p>
      {% endif %}
    </div>
    <div class="media">
      {% if include.handle.thumbnail_video_file and include.handle.thumbnail_image_file %}
        <img src="{{ include.handle.thumbnail_image_file }}" alt="">
        <video preload="none" muted loop>
          <source src="{{ include.handle.thumbnail_video_file }}" type="video/mp4">
        </video>
      {% elsif include.handle.thumbnail_image_file %}
        <img src="{{ include.handle.thumbnail_image_file }}" alt="">
      {% endif %}
    </div>
  </a>
</article>
