{% if page.showcase %}
  <div class="Showcase" data-flickity='{ "setGallerySize": false, "contain": false, "autoPlay": 5000, "wrapAround": true, "percentPosition": true, "pageDots": false, "prevNextButtons": false }'>

    {% for case in page.showcase %}
      <div class="Showcase__Item{% if case.video_file %} Showcase__Item--Video{% endif %}">

        {% if case.title %}
          <div class="Showcase__Content">
          {% if case.title and case.link %}
            <h2>
              <a href="{{ case.link }}">{{ case.title }}</a>
            </h2>
          {% elsif case.title %}
            <h2>{{ case.title }}</h2>
          {% endif %}
          </div>
        {% endif %}

        {% if case.image_file %}
          <div class="Showcase__Image">
            <img src="{{ case.image_file }}" alt="">
          </div>
        {% endif %}

        {% if case.video_file %}
          <div class="Showcase__Video">
            <video preload="none" loop muted>
              <source src="{{ case.video_file }}" type="video/mp4">
            </video>
          </div>
        {% endif %}

      </div>
    {% endfor %}
  </div>
{% endif %}
