---
layout: default
---

<article class="Work">

  <div class="Work__Hero">

    {% if page.video != empty %}
      <div class="Work__Hero-Play">
        <button class="Work__Hero-Button">
          <span class="Hidden">Play video</span>
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
          </svg>
        </button>
      </div>
    {% endif %}

    {% if page.thumbnail_image_file %}
      <div class="Work__Hero-Image">
        <img src="{{ page.thumbnail_image_file | prepend:site.baseurl }}" alt="">
      </div>
    {% endif %}

    {% if page.video != empty %}
      <div class="Work__Hero-Video">
        <iframe src='https://player.vimeo.com/video/{{ page.video }}?quality=1080p' frameborder='0'></iframe>
      </div>
    {% endif %}

  </div>

  <span class="Advent"></span>

  <header class="Work__Header">
    <h1>{{ page.title }}</h1>
  </header>

  <div class="Work__Content">

    <aside class="Work__Content-Meta">

      <h2 class="Hidden">Information about {{ page.title }}</h2>

      {% if page.client %}
        <p class="Work__Content-Meta-Client"><strong>Client</strong> {{ page.client }}</p>
      {% endif %}

      {% if page.kind %}
        <p class="Work__Content-Meta-Categories"><strong>Category</strong> {% assign kinds = page.kind %}{% for kind in kinds %}{% if forloop.last == true %}{{ kind | capitalize }}{% else %}{{ kind | capitalize }}, {% endif %}{% endfor %}</p>
      {% endif %}
      
      {% if page.categories %}
        <p class="Work__Content-Meta-Solutions"><strong>Solutions</strong> {% assign categories = page.categories %}{% for category in categories %}{% if forloop.last == true %}{{ category | capitalize }}{% else %}{{ category | capitalize }}, {% endif %}{% endfor %}</p>
      {% endif %}
      
      {% if page.collaborations %}
        <p class="Work__Content-Meta-Collaborations"><strong>Collaborations</strong> {% assign collaborations = page.collaborations %}{% for collaborator in collaborations %}{% if forloop.last == true %}{{ collaborator | capitalize }}{% else %}{{ collaborator | capitalize }}, {% endif %}{% endfor %}</p>
      {% endif %}
      
      {% if page.year_date %}
        <p class="Work__Content-Meta-Year"><strong>Year</strong> {{ page.year_date | date: "%Y" }}</p>
      {% endif %}
      
      {% if page.link %}
        <p class="Work__Content-Meta-Link"><a href="{{ page.link }}" rel="nofollow" target="_blank">View site</a></p>
      {% endif %}

    </aside>

    <div class="Work__Content-Body">
      {{ content }}
    </div>

  </div>
  
  {% if page.grid %}
    <div class="Grid Grid--Two">
      <div class="Grid__Items">
        <div class="Grid__Sizer"></div>
        <div class="Grid__Gutter"></div>
        {% for item in page.grid %}
          {% include post-preview.html handle=item %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% include related.html %}

</article>
