---
layout: default
---

{% include showcase.html %}

<span class="Advent"></span>

{% include quotes.html %}

{{ content }}

<section class="Work" id="work">
  <h2 class="Hidden">Works</h2>

  <div class="Grid Grid--Three">
    {% if site.categories %}
      <nav class="Grid__Filter">
        <h2 class="Hidden">Solutions</h2>

        <div class="Grid__Buttons">
          <button class="Grid__Button Grid__Button--Active" data-filter="*">All</button>
          {% for category in site.categories %}
            <button class="Grid__Button" data-filter=".Grid__Item--{{ category | first | capitalize }}">{{ category | first | capitalize }}</button>
          {% endfor %}
        </div>
      </nav>
    {% endif %}

    <div class="Grid__Items">
      <div class="Grid__Sizer"></div>
      <div class="Grid__Gutter"></div>

      {% assign posts = site.posts | sort: 'position' %}
      {% for post in posts %}
        {% include post-preview.html handle=post %}
      {% endfor %}
    </div>
  </div>
</section>
