---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.thumbnail_image_file and page.video %}
    <div class="post-media">
      <img src="{{ page.thumbnail_image_file }}" alt="">
      <iframe src='https://player.vimeo.com/video/{{ page.video }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  {% elsif page.thumbnail_image_file %}
    <div class="post-media">
      <img src="{{ page.thumbnail_image_file }}" alt="">
    </div>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  {% if page.grid %}
    <div class="post-grid">
      {% for item in page.grid %}
        <div class="post-grid-item{% if item.size == 'half' %} post-grid-item--half{% elsif item.size == 'huge' %} post-grid-item--huge{% endif %}">
          {% if item.image_file and item.video_file %}
            <img src="{{ item.image_file }}" alt="">
            <video preload="none" muted loop>
              <source src="{{ item.video_file }}" type="video/mp4">
            </video>
          {% elsif item.image_file %}
            <img src="{{ item.image_file }}" alt="">
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

</article>
